h4 {
  padding: 0;
  margin: 0;
  text-align: left;
}
.selected {
  fill: #d63131;
}

.selected-panel {
  background: #ffffff;
}

.selected-sector {
  stroke: #d63131;
  stroke-width: 2;
}

.monitor-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  padding: 10px;
  font-size: 18px;
  text-align: left;
  background: #eee;

}

.monitor-panel > div div {
  cursor: pointer;
  margin-bottom: 3px;
  padding: 10px 3px;
}

.monitor-panel > div div:hover {
  background: #fff;
  transition: .7s;
}
.s1 {
  /* stroke:red; */
} 

/* sub-menu */

.sub-item {
  display: none;
  font-size: 16px;
  text-transform: lowercase;  
  text-align: center;
  background: #d3d3d3;
}

.show {
  display: block;
}

.selected-panel > .sub-item {
  display: block;
}

.selected-panel > .button-color {
  display: flex;
  justify-content: space-around;
}

.color-circle {
  width: 10%;
  height: 10px;
  border-radius: 50%;
}

.input-wrap {
  display: flex;
  flex-direction: column;
}